<div class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="col-md-6 footer-left">
				<form>
					<input type="text" value="Введите электронную почту" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Введите электронную почту';}">
					<input type="submit" value="Подписаться">
				</form>
			</div>
			<div class="col-md-6 footer-right">
				<p>© 2024 Remeshok_163. Все права защищены. | Разработка сайта  <a href="https://t.me/AlexPyDev" target="_blank">Александр Попов</a></p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>