
<div class="information">
	<div class="container">
		<div class="infor-top">
			<div class="col-md-3 infor-left">
				<h3>Наши соцсети</h3>
				<ul>
					<li><a href="#"><span class="fb"></span><h6>В контакте</h6></a></li>
					<li><a href="#"><span class="twit"></span><h6>Авито</h6></a></li>
					<li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
				</ul>
			</div>
			<div class="col-md-3 infor-left">
				<h3>Информация</h3>
				<ul>
					<li><a href="#"><p>Специальные предложения</p></a></li>
					<li><a href="#"><p>Новая продукция</p></a></li>
					<li><a href="#"><p>Наши магазины</p></a></li>
					<li><a href="contact.html"><p>Связаться с нами</p></a></li>
					<li><a href="#"><p>Лучшие продавцы</p></a></li>
				</ul>
			</div>
			<div class="col-md-3 infor-left">
				<h3>Мой аккаунт</h3>
				<ul>
					<li><a href="account.html"><p>Мой профиль</p></a></li>
					<li><a href="#"><p>Мои расчетные счета</p></a></li>
					<li><a href="#"><p>По вопросам возврата товара</p></a></li>
					<li><a href="#"><p>Мои контактные данные</p></a></li>
					<li><a href="#"><p>Мои адреса</p></a></li>
				</ul>
			</div>
			<div class="col-md-3 infor-left">
				<h3>Храните информацию</h3>
				<h4>О названии компании,
					<span>Lorem ipsum dolor,</span>
					Самара, Телецентр</h4>
				<h5>+79025181888</h5>
				<p><a href="mailto:example@email.com">contact@example.com</a></p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--information-end-->
<!--footer-starts-->
<div class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="col-md-6 footer-left">
				<form>
					<input type="text" value="Введите электронную почту" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Введите электронную почту';}">
					<input type="submit" value="Подписаться">
				</form>
			</div>
			<div class="col-md-6 footer-right">
				<p>© 2024 Remeshok_163. Все права защищены. | Дизайн и оформление  <a href="http://w3layouts.com/" target="_blank">Санько Попов</a></p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
