<link href="{{ https_url_for(request, 'static', path='css/bootstrap.css' )}}" rel="stylesheet" type="text/css" media="all" />
<!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
<script src="{{ https_url_for(request, 'static', path='js/jquery-1.11.0.min.js')}}"></script>
<!--Custom-Theme-files-->
<!--theme-style-->
<link href="{{ https_url_for(request, 'static', path='css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--start-menu-->
<script src="{{ https_url_for(request, 'static', path='js/simpleCart.min.js')}}"> </script>
<link href="{{ https_url_for(request, 'static', path='css/memenu.css')}}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{{ https_url_for(request, 'static', path='js/memenu.js')}}"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<!--dropdown-->
<script src="{{ https_url_for(request, 'static', path='js/jquery.easydropdown.js')}}"></script>


