{% extends "base.html" %}
{% block title %} Контакты {% endblock %}
	<!--bottom-header-->
	<!--start-breadcrumbs-->
{% block content %}
<div class="breadcrumbs">
	<div class="container">
		<div class="breadcrumbs-main">
			<ol class="breadcrumb">
				<li><a href="{{ url_for('index')}}">Главная</a></li>
				<li class="active">Контакты</li>
			</ol>
		</div>
	</div>
</div>
	<!--end-breadcrumbs-->
	<!--contact-start-->
	<div class="contact">
		<div class="container">
			<div class="contact-top heading">
				<h2>Мы находимся здесь</h2>
			</div>
				<div class="contact-text">
				<div class="col-md-3 contact-left">
						<div class="address">
							<h5>Наши контакты</h5>
							<p> Адрес: Самара,Солнечная улица, 24с2"</p>
							<p>Email: <a href="mailto:remeshok163@yandex.ru">remeshok163@yandex.ru</a></p>
							<p> Телефон: +79025181888</p>
						</div>
					</div>
					<div class="col-md-9 contact-right">
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A076c21ed47847eb3068ffbe0f19e056205d3e72cc62fcc684c0fd4841fcb0602&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
					</div>	
					<div class="clearfix"></div>
				</div>
		</div>
	</div>
{% include "include/bottom_footer.html" %}
{% endblock %}
