{% extends "base.html" %}

{% block title %} Remeshok_163 {% endblock %}

{% block content %}

<!--стили-->
<style>
.product-row {
	display: flex !important;
	flex-wrap: wrap !important;
	justify-content: left !important;
}
.product-card {
	display: flex !important;
	flex-wrap: wrap !important;
	justify-content: center !important;
}
.product-clearfix {
	height: 20px !important;
}
</style>
<!--конец стилей-->

<!-- хлебные крошки начало -->
<div class="breadcrumbs">
	<div class="container">
		<div class="breadcrumbs-main">
			<ol class="breadcrumb">
				<li><a href="{{ url_for('index')}}">Главная</a></li>
				<li class="active"> . . . </li>
			</ol>
		</div>
	</div>
</div>
<!-- хлебные крошки конец -->




{% for category in categories %}
<div class="product">
	<div class="container">
		<div class="product-top">
			<div class="product-one">
				<div class="clearfix"></div>
				<div class="account-top heading">
					<h2>{{ category.name }}</h2>
					<br>
					<br>
				</div>
				<div class="col-md-12 prdt-left">
					{% for group in category.groups %}
						<div class="row product-row">
							{% for product in group %}
								<div class="col-md-3 product-card">
									<div class="product-main simpleCart_shelfItem">
										<a href="{{ url_for('single', product_id=product.id)}}" class="mask"><img class="img-responsive zoom-img" src="{{ product.product_image }}" alt="" /></a>
										<div class="product-bottom">
											<h3>{{ product.name }}</h3>
											<p>{{ product.description }}</p>
											<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">{{ product.price }} рублей </span></h4>
										</div>
										<div class="srch srch1">
											<span>Закажи сейчас со скидкой 10% </span>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="product-clearfix"></div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% include "include/top_footer.html" %}
{% include "include/bottom_footer.html" %}

{% endblock %}




