{% extends "base.html" %}
{% block title %}Продукция{% endblock %}

{% block content %}
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{{ url_for('index')}}">Главная</a></li>
					<li class="active">Наша продукция</li>
				</ol>
			</div>
		</div>
	</div>

	<div class="prdt">
		<div class="container">
			<div class="prdt-top">
				<div class="col-md-12 prdt-left">
					{% for group in product_groups %}
						<div class="row product-row">
							{% for product in group %}
								<div class="col-md-3 product-card">
									<div class="product-main simpleCart_shelfItem">
										<a href="{{ url_for('single', product_id=product.id)}}" class="mask"><img class="img-responsive zoom-img" src="{{ product.product_image }}" alt="" /></a>
										<div class="product-bottom">
											<h3>{{ product.name }}</h3>
											<p>{{ product.description }}</p>
											<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">{{ product.price }} рублей </span></h4>
										</div>
										<div class="srch srch1">
											<span>Закажи сейчас со скидкой 10% </span>
										</div>
									</div>
								</div>
							{% endfor %}

						</div>
						<div class="product-clearfix"></div>
					{% endfor %}

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

{% endblock %}
